.container {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00FF7C;
  border-radius: 5px;
  margin: 25px;
}

.img-container {
  width: 75%;
}

.img-container img {
  width: 100%;
}

.character-data-container{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  text-align: start;
}

.info{
  color: black;
  margin: 0 15px 0 15px;
  width: 90%;
  padding: 0;
}