.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}


.text {
  color: white;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
    to {
      transform: rotate(360deg);
    }
  }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }}

.loading-image-container {
  width: 200px;
}

.loading-image-container img {
  width: 100%;
  height: 250px;
  -webkit-animation: 1s rotate linear infinite;
  animation: 3s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}