.input {
  background-color: #2e3d4b;
  border: 0;
  color: #00F878;
  outline: none;
  height: 50px;
  width: 350px;
  padding: 0 20px;
  border-right: solid 1px grey;
}

.input::placeholder {
  color: #00F878;
}

.input:focus {
  border-right: 0;
  border: 1px solid #00F878;
}

.button {
  color: #00F878;
  height: 52px;
  width: 75px;
  background-color: #2e3d4b;
  border: 0;

  padding: 0
}

.button:hover {
  background-color: #00F878;
  color: #2e3d4b;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .search-bar-container {
    width: 75%;
  }

  .search {
    width: 100%;
  }

  .input {
    width: 100%;
    padding: 0;
    text-align: center;
    border-right: 0;
  }

  .button {
    margin-top: 15px;
    border-left: 0;
    width: 100%;
  }
}
